@import 'src/scss/blocks/burger_menu/_header.scss';
@import 'src/scss/blocks/burger_menu/_main.scss';
@import 'src/scss/blocks/burger_menu/_footer.scss';

.web-box__burger-menu {
  background-color: $color-white;
}

.burger-menu {
  margin: 0;
  color: black;
  box-sizing: border-box;
  padding-left: 22px;
  padding-right: 31px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1365px) {
  .burger-menu {
    z-index: -10;
  }
}
