$color-white: white;
$color-smokeWhite: #f8f8f8;
$color-lightTurquoise: #41f6d7;
$color-pang: #b8ffec;
$color-blueLavanda: #eaeaea;
$color-pink: #ff3e79;
$color-grey: #7e7e82;
$color-placeholder: #b5b6bc;
$color-black: black;
