@import 'src/scss/_colors.scss';
.main-menu__bottom {
  p {
    margin-bottom: 0;
  }
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: $color-smokeWhite;
  font-size: 14px;
  font-weight: 400;
  color: $color-grey;
  &-offer {
    text-align: right;
  }
  &-confidentiality {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .main-menu__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 19px;
    p {
      text-align: center;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
